
/*Обнуление*/
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

/*-----*/
h1, h2 {
    font-family: Poppins,sans-serif;
}
body {
    position: absolute;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff;
    background-color: #2a2a2a;
}
main {
    margin-top: 65px;
    overflow: hidden;
    display: flex;
}
.wrapper {
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1300px;
    position: relative;
    display: flex;
}
.container-canvas {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.grid {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.grid-line {
    flex-basis: 20%;
    position: relative;
    border-right: 1px solid hsla(0,0%,100%,.1);
}
.intro {
    margin-left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;

}
section {
    margin-bottom: 20%;
}

.intro__shape {
    position: absolute;
    border-radius: 39% 60% 72% 30%/48% 48% 56% 54%;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    overflow: hidden;
    z-index: 1;
    transform: translateZ(0);
    animation: morph 7s linear infinite;
    background-color: rgba(255, 195, 18, 0.8);
    /*background-color: rgba(249, 127, 81, 0.5);*/
}
@keyframes morph {
    0% {
        border-radius: 42% 68% 70% 30% / 45% 45% 55% 55%; }
    25% {
        border-radius: 38% 58% 60% 36% / 48% 50% 60% 57%; }
    32% {
        border-radius: 38% 62% 65% 33% / 48% 50% 60% 57%; }
    50% {
        border-radius: 41% 62% 65% 32% / 46% 47% 57% 56%; }
    75% {
        border-radius: 36% 58% 60% 36% / 48% 50% 60% 57%; }
    85% {
        border-radius: 38% 60% 65% 34% / 46% 48% 58% 56%; }
    100% {
        border-radius: 42% 68% 70% 30% / 45% 45% 55% 55%; } }

@media (min-width: 1300px) {
    .intro__shape {
        width: 35vw;
        height: 35vw;
    }
}

.intro__header--copy {
    font-size: 160px ;
    text-transform: uppercase;

    position: absolute;
    z-index: 1;
    color: purple;
}
.intro__header span {
    position: relative;
    display: flex;
}
.intro__header {
    min-height: 400px;
    position: relative;
}
.intro h1 {
    line-height: 1;
    font-size: calc(80px + 80 * ((100vw - 320px) / (1280 - 320)));
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 900;

}
.rellax {
    transform: translate3d(0px, -51px, 0px);
}
.intro__greeting {
    position: relative;
    display: flex;
}
.intro_iam, .intro_name {
    display: block;
}
.page2 {
    background-color: #fab1a0;
}
.page3 {
    background-color: #353b48;
}
.page4 {
    background-color: #fdcb6e;
}

.blob {
    /*position: absolute;*/
    /*display: flex;*/
    /*width: 800px;*/
    /*height: 600px;*/
    /*filter: opacity(50%) ;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*border-radius: 39% 60% 72% 30%/48% 48% 56% 54%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 220px;*/
    /*height: 220px;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    /*transform: translateZ(0);*/
    /*animation: morph 7s linear infinite;*/
    /*background-color: gold;*/
}
/*.blob:nth-child(2) {*/
/*    inset: 10px;*/
/*    filter: blur(8px) opacity(50%);*/
/*}*/
canvas {
    bottom: 0;
    position: relative;
    z-index: 3;
}

.svg-letters{
    display: none;

}

