@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Space+Mono&display=swap");




* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    --color-noodle: hsl(32 100% 75%);
    --color-soup: hsl(10 100% 34%);
    --color-placemat: hsla(0 100% 39% / 0.5);
overflow: hidden;
    place-items: center;
    font-family: "Gluten", monospace;
    background: hsl(186deg 67% 74%);
}

body > * {

}

.bowl {
    width: 500px;
    height: 500px;
}
.text {
    width: 100%;
    text-align: center;
    font-size: 10vmin;
    color: blueviolet;
}

.char {
    position: relative;
    letter-spacing: -0.1em;
    transform: scaleX(0.8);
    font-size: 10vmin;
}

.btn {
    --bg-color: hsl(60deg 95% 60%);
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Space Mono", monospace;
    background-color: var(--bg-color);
    border: 2px dashed black;
    border-radius: 0.125rem;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: var(--bg-color) 0 0 0 2px, hsla(0 0% 0% / 0.2) 2px 2px 6px;
}

.btn:focus-visible {
    box-shadow: none;
    border-color: transparent;
    outline-offset: -4px;
}

.btn:active {
    transform: translateY(0);
    box-shadow: var(--bg-color) 0 0 0 2px, hsla(0 0% 0% / 0.2) 2px 2px 4px;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.header h1 {
    font-size: 15vmin;
    color: crimson;
}